<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>348322439215-bs98eftmmf43qqlp48jg1rhiohcjsko8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348322439215-bs98eftmmf43qqlp48jg1rhiohcjsko8</string>
	<key>API_KEY</key>
	<string>AIzaSyASi4bqWnp6lWWsLCheT9-_UInMRdtg6wY</string>
	<key>GCM_SENDER_ID</key>
	<string>348322439215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bakkertechnologies.osa-tracker-watch.watchkitapp.watchkitextension</string>
	<key>PROJECT_ID</key>
	<string>sopor-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>sopor-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348322439215:ios:421aecd7ea986145ace6da</string>
	<key>DATABASE_URL</key>
	<string>https://sopor-prod.firebaseio.com</string>
</dict>
</plist>